* {
  box-sizing: border-box;
}

body {
  background: #eee;
}

img {
  width: 100%;
}

.jumbotron {
  background: #2a4c6e;
  color: #eee;
}

#gif-buttons {
  margin-bottom: 50px;
}

.topic,
#add-topic {
  margin: 5px 10px;
  padding: 5px 12px;
  border: 2px solid #eee;
  background: #2a4c6e;
  color: #eee;
  border-radius: 5px;
}

#add-topic {
  margin: 10px 0 0;
}

.topic:hover,
#add-topic:hover,
.selected {
  border: 2px solid #2a4c6e;
  background: #eee;
  color: #2a4c6e;
}

#images {
  overflow: auto;
}

#gif-form {
  margin-top: -20px;
}

#new-topic {
  width: 400px;
  float: right;
}

.gif-image {
  width: 300px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #2a4c6e;
}
