* {
  box-sizing: border-box;
}

body {
  background: #eee;
}

img {
  width: 100%;
}

.jumbotron {
  background: #2a4c6e;
  color: #eee;
	height: 100px;
}

h1 {
	padding-top: 20px;
}

#gifs {
	margin-top: 20px;
}

#gif-buttons {
  margin-bottom: 50px;
}

.topic,
#add-topic {
  margin: 5px 10px;
  padding: 5px 12px;
  border: 2px solid #eee;
  background: #2a4c6e;
  color: #eee;
  border-radius: 5px;
}

#add-topic {
  margin: 10px 0 0;
}

.topic:hover,
#add-topic:hover,
.selected {
  border: 2px solid #2a4c6e;
  background: #eee;
  color: #2a4c6e;
}

#images {
  overflow: auto;
	width: 80%;
	margin: 50px auto;
	padding: 10px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);	
}

#gif-form {
  margin-top: 60px;
}

#new-topic {
  width: 400px;
	margin: 0 auto;
}

.gif-image {
  width: 250px;
	padding: 10px;
	border: 3px solid #2a4c6e;
	border-radius: 5px;
	justify-self: center;
	align-self: center;
}
